{% extends 'base.html.twig' %}

{% block title %}Control de propina{% endblock %}

{% block body %}
<h2>Historico</h2>
<!--====================================================-->
<!-- Bootstrap Modal-->
<!--===================================================-->
<form method="post" accept-charset="utf-8" action="/stat/FilterDate" class="form-inline" />
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="modalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="modalLongTitle">Seleccione el rango de fechas</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body row justify-content-md-center">
                <div class="col-sm-6 col-sm-offset-1 justify-content-md-center" id="calendar">                                           
                  <label for="fecha1">Fecha inicial:</label>
                  <input type="date" class="form-control" name="fecha1" required/>
                  <label for="fecha2">Fecha final:</label>
                  <input type="date" class="form-control" name="fecha2" required/>              
                </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-red" data-dismiss="modal">Cerrar</button>
                  <button type="submit" class="btn btn-default">Aceptar</button>
              </div>
          </div>
      </div>
  </div>
  </form>
  <!--===================================================-->
  <!--End Default Bootstrap Modal-->
  <!--===================================================-->
  <div class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Opciones
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a href="#" class="dropdown-item" data-toggle="modal" data-target="#exampleModal">
        Seleccione la fecha
      </a>
      <a href="/stat/byLastDay" class="dropdown-item">Día Anterior</a>
      <a href="/stat" class="dropdown-item">Semana Anterior</a>
      <a href="/stat/byLastMonth" class="dropdown-item">Mes Anterior</a>
      <a href="/stat/Month" class="dropdown-item">Mes Actual</a>
      <a href="/stat/byLastYear" class="dropdown-item">Año Anterior</a>
    </div>
  </div>
  <br>
  {% if fecha1 is defined %}
  <h4>Usted esta viendo desde el: {{ fecha1| date("d/m/Y") }} hasta el: {{ fecha2| date("d/m/Y") }}</h4>
  {% else %}
  <h3></h3>
  {% endif %}
<table id="departments" class="table">
<thead class="thead-light">
    <tr>
      <th scope="col">Nombre y Apellidos</th>
      <th scope="col">Propina</th>
    </tr>
  </thead>
  <tbody>
    {% for querys in query %}
    <tr>
     <td>{{querys.name}} {{ querys.lasname}}</td>
     <td>{{querys.suma}}</td>
    </tr>
    {% endfor %}
    {% for datas in data %}
    <td>Total</td>
    <td>{{ datas.suma|number_format(2,'.',',') }}</td>
    {% endfor %}
  </tbody>
</table>


{% endblock %}
{% block javascripts %}
 <script src="/js/main.js"></script>
 <script src="/js/jquery-3.3.1.slim.min.js"></script>
 <script src="/js/popper.min.js"></script>
 <script src="/bootstrap-4.1.3/js/bootstrap.min.js"></script>
{% endblock %}
