{% extends 'base.html.twig' %}

{% block title %}Control de la propina{% endblock %}

{% block body %}
<h2>Trabajador</h2>
<h4>{{employees.name ~" "~ employees.lasname}}:
{% for querys in query %}
{{ querys.total|number_format(2,'.',',') }}
{% endfor %}
</h4>
<br>
<table id="employees" class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Cantidad</th>
      <th scope="col">Fecha</th>
      <th scope="col">Descripción</th>
    </tr>
  </thead>
  <tbody>
    {% for ctrlmov in ctrlmovs %}
    <tr>
     <td>{{ctrlmov.amount|number_format(2,'.',',')}}</td>
     <td>{{ctrlmov.date|date('d-m-y')}}</td>
     <td>{{ctrlmov.description}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
{% block javascripts %}
 <script src="/js/main.js"></script>
 <script src="/js/jquery-3.3.1.slim.min.js"></script>
 <script src="/js/popper.min.js"></script>
 <script src="/bootstrap-4.1.3/js/bootstrap.min.js"></script>
{% endblock %}