{% extends 'base.html.twig' %}

{% block title %}Control Sistem{% endblock %}

{% block body %}
<h2>Employee</h2>
<h4>{{employees.name ~" "~ employees.lasname}}:
{% for querys in query %}
{{ querys.total|number_format(2,'.',',') }}
{% endfor %}
</h4>
<br>
<table id="employees" class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Amount</th>
      <th scope="col">Date</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    {% for ctrlmov in ctrlmovs %}
    <tr>
     <td>{{ctrlmov.amount|number_format(2,'.',',')}}</td>
     <td>{{ctrlmov.date|date('m-d-y h:i')}}</td>
     <td>{{ctrlmov.description}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
{% block javascripts %}
 <script src="/js/main.js"></script>
{% endblock %}