{% extends 'base.html.twig' %}

{% block title %}Control de propina{% endblock %}

{% block body %}
<style type="text/css">
  #mydatatable_filter { float: right; }
</style>
<h2>Trabajadores</h2>
<div class="dropdown show">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Opciones
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a href="/employees/new" class="dropdown-item">Agregar trabajador</a>
    <a href="/employees/byDay" class="dropdown-item">Acumulado Diario</a>
    <a href="/employees/byMonth" class="dropdown-item">Acumulado Mensual</a>
    <a href="/employees/byYear" class="dropdown-item">Acumulado Anual</a>
  </div>
</div>
{% if (employees) %}
<!-- table id="employees" class="table" -->
<table id="mydatatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead class="thead-light">
    <tr>
      <th scope="col">Nombre y Apellidos</th>
      <th scope="col">Departamento</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for employee in employees %}
    <tr>
     <td><a href="/employees/byMonth/{{employee.id}}">{{employee.name}} {{ employee.lasname}}</a></td>
     <td>{{employee.department}}</td>
	  <td>
     <a href="/employees/details/{{employee.id}}" type="button" class="btn btn-outline-success">Propina</a>
     <a href="/employees/edit/{{employee.id}}" type="button" class="btn btn-outline-success">Editar</a>
     <a href="/employees/delete/{{employee.id}}" type="button" class="btn btn-outline-danger delete-department" data-id="#">Eliminar</a>
    </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<div class="alert"><h3>No se ha introducido ningún dato aún</h3></div>
{% endif %}

{% endblock %}
{% block javascripts %}
 <script src="/js/main.js"></script>
 <script src="/js/jquery-3.3.1.slim.min.js"></script>
 <script src="/js/popper.min.js"></script>
 <script src="/bootstrap-4.1.3/js/bootstrap.min.js"></script>
 <script src="/js/jquery.dataTables.min.js"></script>
 <script src="/js/dataTables.bootstrap4.min.js"></script>
 <script type="text/javascript">
 $(document).ready( function () {
    $('#mydatatable').DataTable();
  } );
 </script>
{% endblock %}
