{% extends 'base.html.twig' %}

{% block title %}Control de propina{% endblock %}

{% block body %}
<h2>Trabajadores</h2>
<a href="/employees/new" type="button" class="btn btn-outline-success">Agregar trabajador</a>
<a href="/employees/byDay" type="button" class="btn btn-outline-info">Acumulado Diario</a>
<a href="/employees/byMonth" type="button" class="btn btn-outline-primary">Acumulado Mensual</a>
<a href="/employees/byYear" type="button" class="btn btn-outline-danger">Acumulado Anual</a>
<br>
<table id="employees" class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Nombre y Apellidos</th>
      
      <th scope="col">Departamento</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for employee in employees %}
    <tr>
     <td><a href="/employees/details/{{employee.id}}">{{employee.name}} {{ employee.lasname}}</a></td>
     <td>{{employee.department}}</td>
	  <td>
     <a href="/employees/details/{{employee.id}}" type="button" class="btn btn-outline-success">Propina</a>
     <a href="/employees/edit/{{employee.id}}" type="button" class="btn btn-outline-success">Editar</a>
     <a href="/employees/delete/{{employee.id}}" type="button" class="btn btn-outline-danger delete-department" data-id="#">Eliminar</a>
    <td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
{% block javascripts %}
 <script src="/js/main.js"></script>
{% endblock %}
